@media (min-width:320px) and (max-width:480px) {
  body {
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-image: url(https://b.fssta.com/uploads/application/soccer/competition-logos/FIFAMensWorldCup2022.vresize.350.350.medium.0.png);
    /* background-image: url(https://i.pcmag.com/imagery/articles/05iMhQVIcr81G5qXQcFfZ6f-1..v1660772547.jpg); */
  }

  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: black;
    filter: drop-shadow(8px 8px 4px rgba(255, 255, 255, 0.907));
  }

  .container-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }

  .container-days {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    /* background: rgba(255, 255, 255, 0.937);
     */
    background-image: url(https://www.tiendasreinaldo.com/wp-content/uploads/2022/08/H57798-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .container-days p {
    margin: 0;
    font-size: 4rem;
  }

  .container-days span {
    margin: 0;
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
  }

  .container-time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .container-time-item {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    /* background: rgba(255, 255, 255, 0.937); */
    background-image: url(https://www.tiendasreinaldo.com/wp-content/uploads/2022/08/H57798-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .container-time-item p {
    margin: 0;
    font-size: 4rem;
  }

  .container-time-item span {
    margin: 0;
    font-size: 0.9rem;
    color: black;
    font-weight: 600;
  }
}